* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* Percentage of the users's browsers font-size setting */
  /* 10 / 16px  = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #444;
}

/* General Reusable Components */
/* Grids Containers*/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 9.6rem;
  row-gap: 4.8rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-center-vertically {
  align-items: center;
}
/* ****************************************************************************** */

/* Headings */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
/* ****************************************************************************** */

/* IMG */
.img-container {
  display: flex;
  justify-content: center;
}

.img-generic {
  width: 85%;
}
/* ****************************************************************************** */
